## Part 1: Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import numpy as np
from tensorflow.keras.models import Model
from tensorflow.keras import layers

from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder
from pandas.api.types import is_string_dtype
from pandas.api.types import is_numeric_dtype

#  Import and read the attrition data
attrition_df = pd.read_csv('https://static.bc-edx.com/ai/ail-v-1-0/m19/lms/datasets/attrition.csv')
attrition_df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,Sales,1,2,Life Sciences,2,94,3,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,Research & Development,8,1,Life Sciences,3,61,2,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,Research & Development,2,2,Other,4,92,2,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,Research & Development,3,4,Life Sciences,4,56,3,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,Research & Development,2,1,Medical,1,40,3,...,3,4,1,6,3,3,2,2,2,2

In [2]:
# Determine the number of unique values in each column.
attrition_df.nunique()

Age                         43
Attrition                    2
BusinessTravel               3
Department                   3
DistanceFromHome            29
Education                    5
EducationField               6
EnvironmentSatisfaction      4
HourlyRate                  71
JobInvolvement               4
JobLevel                     5
JobRole                      9
JobSatisfaction              4
MaritalStatus                3
NumCompaniesWorked          10
OverTime                     2
PercentSalaryHike           15
PerformanceRating            2
RelationshipSatisfaction     4
StockOptionLevel             4
TotalWorkingYears           40
TrainingTimesLastYear        7
WorkLifeBalance              4
YearsAtCompany              37
YearsInCurrentRole          19
YearsSinceLastPromotion     16
YearsWithCurrManager        18
dtype: int64

In [3]:
# Create y_df with the Attrition and Department columns
y_df = attrition_df[["Attrition","Department"]]
y_df.head()

  Attrition              Department
0       Yes                   Sales
1        No  Research & Development
2       Yes  Research & Development
3        No  Research & Development
4        No  Research & Development

In [4]:
# Create a list of at least 10 column names to use as X data

x = [
"Education",
"Age",
"DistanceFromHome",
"JobSatisfaction",
"OverTime",
"StockOptionLevel",
"WorkLifeBalance",
"YearsAtCompany",
"YearsSinceLastPromotion",
"NumCompaniesWorked"]
#print(x)

# Create X_df using your selected columns
X_df = attrition_df[x]

# Show the data types for X_df
X_df.dtypes

Education                   int64
Age                         int64
DistanceFromHome            int64
JobSatisfaction             int64
OverTime                   object
StockOptionLevel            int64
WorkLifeBalance             int64
YearsAtCompany              int64
YearsSinceLastPromotion     int64
NumCompaniesWorked          int64
dtype: object

In [7]:
#td_df = pd.get_dummies(X_df["OverTime"], dtype = int).values.reshape(-1,1)

In [27]:
# encoder = OrdinalEncoder()
# X_df["OverTime"] = encoder.fit_transform(X_df[["OverTime"]])

In [30]:
# #is_non_numeric = pd.to_numeric(df['column'], errors='coerce').isnull()
# encoder = OrdinalEncoder(categories=[['No', 'Yes']])
# X_df["OverTime"] = encoder.fit_transform(X_df[["OverTime"]])

In [63]:
# Split the data into training and testing sets
from sklearn.model_selection import train_test_split
X = X_df
y = y_df
# for i in range(38): #Find the random state that matches the starter code
#     X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=i)
#     print(X_train["OverTime"].value_counts())
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=37)

In [76]:
# Convert your X data to numeric data types however you see fit
# Add new code cells as necessary
encoder = OrdinalEncoder()
encoder.fit_transform(X_train[["OverTime"]])
X_train[["OverTime"]] = encoder.fit_transform(X_train[["OverTime"]])
X_test[["OverTime"]] = encoder.fit_transform(X_test[["OverTime"]])

print(X_train[["OverTime"]].value_counts())
print(X_test[["OverTime"]].value_counts())

OverTime
0.0         788
1.0         314
Name: count, dtype: int64
OverTime
0.0         266
1.0         102
Name: count, dtype: int64

In [78]:
# Create a StandardScaler
scaler = StandardScaler()

# Fit the StandardScaler to the training data
scaler = scaler.fit(X_train)

# Scale the training and testing data
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [80]:
y_train

     Attrition              Department
1321        No  Research & Development
1091        No  Research & Development
985        Yes  Research & Development
455         No  Research & Development
952        Yes                   Sales
...        ...                     ...
437         No                   Sales
988         No  Research & Development
251         No  Research & Development
844         No                   Sales
363        Yes                   Sales

[1102 rows x 2 columns]

In [90]:
# Create a OneHotEncoder for the Department column
ohe = OneHotEncoder(handle_unknown='ignore', sparse_output=False, dtype='int')


# Fit the encoder to the training data
# X_train_encoded = pd.DataFrame(data=ohe.fit_transform(X_train), columns=ohe.get_feature_names_out())
ohe.fit(y_train[["Department"]])

# Create two new variables by applying the encoder
# to the training and testing data
y_train_encoded = ohe.transform(y_train[["Department"]])
y_test_encoded = ohe.transform(y_test[["Department"]])

# ohe.fit_transform(y_train[["Department"]])
# ohe.fit_transform(y_train[["Department"]])
print([y_train_encoded])
print([y_test_encoded])

[array([[0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       ...,
       [0, 1, 0],
       [0, 0, 1],
       [0, 0, 1]])]
[array([[0, 1, 0],
       [0, 0, 1],
       [0, 1, 0],
       ...,
       [0, 1, 0],
       [0, 0, 1],
       [0, 1, 0]])]

In [17]:
# Create a OneHotEncoder for the Attrition column


# Fit the encoder to the training data


# Create two new variables by applying the encoder
# to the training and testing data

## Create, Compile, and Train the Model

In [18]:
# Find the number of columns in the X training data


# Create the input layer


# Create at least two shared layers

In [19]:
# Create a branch for Department
# with a hidden layer and an output layer

# Create the hidden layer


# Create the output layer

In [20]:
# Create a branch for Attrition
# with a hidden layer and an output layer

# Create the hidden layer


# Create the output layer

In [21]:
# Create the model


# Compile the model


# Summarize the model

In [22]:
# Train the model

In [23]:
# Evaluate the model with the testing data

In [24]:
# Print the accuracy for both department and attrition

# Summary

In the provided space below, briefly answer the following questions.

1. Is accuracy the best metric to use on this data? Why or why not?

2. What activation functions did you choose for your output layers, and why?

3. Can you name a few ways that this model might be improved?

YOUR ANSWERS HERE

1. 
2. 
3.